:root {
    --bg-header-color: blanchedalmond;
    --bg-card-color: rgb(82, 93, 84);
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    min-height: 100vh;
  }
  
  header {
    background-color: var(--bg-header-color);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #search-form {
    text-align: center;
    padding: 20px 0;
    background-color: blanchedalmond;
    border-bottom: 1px solid black;
  }
  
  #search-form label {
    font-size: 25px;
  }
  
  #search-form input {
    margin-left: 20px;
    min-width: 200px;
    padding: 5px 10px;
  }
  
  #search-form button {
    margin-left: 10px;
    padding: 5px;
  }
  
  #card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    background-color: rgb(214, 215, 189);
  }
  
  .movie-card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
    margin: 20px;
    padding: 20px;
    width: 400px;
    justify-self: center;
    background-color: rgb(82, 93, 84);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: transform 100ms ease-in;
  }
  
  .movie-card:hover {
    transform: scale(1.02);
  }
  
  .movie-card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .movie-card .movie-title {
    color: rgb(255, 255, 255);
    padding: 20px 0 10px;
  }

  p {
    color: rgb(201, 201, 201);
    padding-bottom: 10px;
}
  